@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: $font-1;
  color: $color-font-blanc;
  font-size: 3cqw;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: flex;
  left: 0;
  padding: 0 10vw;
}

.navigation {
  @include verticalCenter;
  ul {
    display: flex;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      padding: 10px;
      font-size: 1.5rem;

      li {
        color: $color-font-grey;
        transition: color 0.2s ease;
        cursor: pointer;

        &:hover {
          color: $color-font-blanc;
        }
      }
    }

    .nav-active {
      position: relative;

      &::after {
        content: "";
        height: 4px;
        width: 0;
        background: $color-font-blanc;
        position: absolute;
        border-radius: 10px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: anim 0.6s ease forwards;

        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  } 
}

.langue {
  display: flex;
  color: $color-font-blanc;

    .select {
      appearance: none; 
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 50px; 
      height: 50px; 
      border-radius: 50%; 
      border: 2px solid #ccc;
      
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: 0;
    }
}