.quantifier-alias-section {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
    background: $color-font-violet;

    .quantifier-alias-section-title{
        margin-bottom: 10px;
        color: $color-font-blanc;
    }

    .list-alias {
        overflow-y: scroll;
        max-height: 70%;
        height: 70%;

        .list-alias-ul {
            list-style-type: none;
            padding: 0;

            .list-alias-ul-li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
            }
        }
    }

    .add-alias {
        .add-alias-input[type="text"] {
            width: 70%;
        }
        .add-alias-button {
            margin-left: 5px;
        }
    }
}







