.quantifier-alias-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    background: $color-font-violet;
    overflow: hidden;
}

.quantifier-alias-section-title {
    flex: 1 0 0;
    height: 10%;
    max-height: 10%;
    color: $color-font-blanc;
    align-items: center;
}

.list-alias {
    flex: 1 0 0;
    height: 75%;
    max-height: 75%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.list-alias-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-alias-ul-li {
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.add-alias {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 15%;
    max-height: 15%;
}

.add-alias-input[type="text"] {
    width: 70%;
}

.add-alias-button {
    margin-left: 5px;
}
