.quantifier-alias-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
}

.quantifier-alias-section h3 {
    margin-bottom: 10px;
    color: $color-font-blanc;
}

.quantifier-alias-section ul {
    list-style-type: none;
    padding: 0;
}

.quantifier-alias-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.quantifier-alias-section input[type="text"] {
    width: 70%;
}

.quantifier-alias-section button {
    margin-left: 5px;
}

.reset-button {
    margin-top: 10px;
}


.list-alias {
    overflow-y: scroll;
    max-height: 70%;
    height: 70%;
}