#result {
  width: max-content;
  background-color: $color-font-violet;
  border-style: inset;
  border-color: white;
  border-width: 5px;
  border-radius: 15px;
  padding: 10px;
  color: white;
}

.check-icon link {

}

#msgok{
  width: auto;
}
#msgko{
  width: auto;
}