$color-1: #17252A;
$color-2: #2B7A78;
$color-3: #3AAFA9;
$color-4: #cddfde;
$color-5: #FEFFFF;

html, body, #root, .app-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 15%;

    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
  align-items: center;
}

.content {
    flex: 1;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}
